[submodule "caps-lv2"]
	path = modep-lv2-caps/src
	url = https://github.com/zen3d/caps-lv2.git
[submodule "modep-mod-host/src"]
	path = modep-mod-host/src
	url = https://github.com/zen3d/mod-host.git
[submodule "modep-mod-ui/src"]
	path = modep-mod-ui/src
	url = https://github.com/zen3d/mod-ui.git
[submodule "modep-mda-lv2/src"]
	path = modep-lv2-mda/src
	url = https://github.com/zen3d/mda-lv2.git
[submodule "modep-freaked/src"]
	path = modep-lv2-freaked/src
	url = https://github.com/zen3d/Freaked.git
[submodule "modep-lv2-fluidsynth/src_fs"]
	path = modep-lv2-fluidsynth/src_fs
	url = https://github.com/zen3d/fluidsynth.git
[submodule "modep-lv2-fluidsynth/src_fp"]
	path = modep-lv2-fluidsynth/src_fp
	url = https://github.com/zen3d/fluidplug.git
[submodule "modep-lv2-midifilter/src"]
	path = modep-lv2-midifilter/src
	url = https://github.com/zen3d/midifilter.lv2
[submodule "modep-lv2-mod-distortion/src"]
	path = modep-lv2-mod-distortion/src
	url = https://github.com/zen3d/mod-distortion.git
[submodule "modep-lv2-tap/src"]
	path = modep-lv2-tap/src
	url = https://github.com/zen3d/tap-lv2
[submodule "modep-lv2-mod-utilities/src"]
	path = modep-lv2-mod-utilities/src
	url = https://github.com/zen3d/mod-utilities.git
[submodule "modep-lv2-gx-slowgear/src"]
	path = modep-lv2-gx-slowgear/src
	url = https://github.com/zen3d/GxSlowGear.lv2
[submodule "modep-lv2-gx-switch-less-wah/src"]
	path = modep-lv2-gx-switchless-wah/src
	url = https://github.com/zen3d/GxSwitchlessWah.lv2
[submodule "modep-lv2-amsynth/src"]
	path = modep-lv2-amsynth/src
	url = https://github.com/zen3d/amsynth.git
[submodule "modep-lv2-amsynth/modep-lv2-artyfx/src"]
	path = modep-lv2-artyfx/src
	url = https://github.com/zen3d/openAV-ArtyFX
[submodule "modep-lv2-bolliedelay/src"]
	path = modep-lv2-bolliedelay/src
	url = https://github.com/zen3d/bolliedelay.lv2
[submodule "modep-lv2-setbfree/src"]
	path = modep-lv2-setbfree/src
	url = https://github.com/zen3d/setBfree.git
[submodule "modep-lv2-calf/src"]
	path = modep-lv2-calf/src
	url = https://github.com/zen3d/calf
[submodule "modep-lv2-infamousplugins/src"]
	path = modep-lv2-infamousplugins/src
	url = https://github.com/zen3d/infamousPlugins
[submodule "modep-lv2-fomp/src"]
	path = modep-lv2-fomp/src
	url = https://github.com/zen3d/fomp.lv2
[submodule "modep-lv2-guitarix/src"]
	path = modep-lv2-guitarix/src
	url = https://github.com/zen3d/guitarix
[submodule "modep-lv2-shiroplugins"]
	path = modep-lv2-shiroplugins/src
	url = https://github.com/zen3d/SHIRO-plugins
[submodule "modep-lv2-invada-studio/src"]
	path = modep-lv2-invada-studio/src
	url = https://github.com/zen3d/invada-studio
[submodule "modep-lv2-dpf-plugins/src"]
	path = modep-lv2-dpf-plugins/src
	url = https://github.com/zen3d/DPF-plugins
[submodule "modep-lv2-rkrlv2/src"]
	path = modep-lv2-rkrlv2/src
	url = https://github.com/zen3d/rkrlv2
[submodule "modep-lv2-sooperlooper"]
	path = modep-lv2-sooperlooper/src
	url = https://github.com/zen3d/sooperlooper-lv2-plugin
[submodule "modep-lv2-stepseq/src"]
	path = modep-lv2-stepseq/src
	url = https://github.com/zen3d/stepseq.lv2
[submodule "modep-lv2-tinygain/src"]
	path = modep-lv2-tinygain/src
	url = https://github.com/zen3d/tinyamp.lv2
[submodule "modep-lv2-fat1/src"]
	path = modep-lv2-fat1/src
	url = https://github.com/zen3d/fat1.lv2
[submodule "modep-lv2-fil4/src"]
	path = modep-lv2-fil4/src
	url = https://github.com/zen3d/fil4.lv2
[submodule "modep-lv2-mtc/src"]
	path = modep-lv2-mtc/src
	url = https://github.com/zen3d/mtc.lv2
[submodule "modep-lv2-mclk/src"]
	path = modep-lv2-mclk/src
	url = https://github.com/zen3d/mclk.lv2
[submodule "modep-lv2-midigen/src"]
	path = modep-lv2-midigen/src
	url = https://github.com/zen3d/midigen.lv2
[submodule "modep-lv2-midigen/modep-lv2-xfade/src"]
	path = modep-lv2-xfade/src
	url = https://github.com/zen3d/xfade.lv2
[submodule "modep-lv2-tuna/src"]
	path = modep-lv2-tuna/src
	url = https://github.com/zen3d/tuna.lv2
[submodule "modep-lv2-triceratops/src"]
	path = modep-lv2-triceratops/src
	url = https://github.com/zen3d/triceratops.lv2
[submodule "modep-lv2-zam-plugins/src"]
	path = modep-lv2-zam-plugins/src
	url = https://github.com/zen3d/zam-plugins
[submodule "modep-lv2-mod-pitchshifter/src"]
	path = modep-lv2-mod-pitchshifter/src
	url = https://github.com/zen3d/mod-pitchshifter/
[submodule "modep-mod-midi-merger/src"]
	path = modep-mod-midi-merger/src
	url = https://github.com/zen3d/mod-midi-merger
[submodule "modep-btn-scripts/src"]
	path = modep-btn-scripts/src
	url = https://github.com/zen3d/modep-btn-scripts
[submodule "modep-touchosc2midi/src"]
	path = modep-touchosc2midi/src
	url = https://github.com/zen3d/modep-touchosc2midi
[submodule "modep-ctl-scripts/src"]
	path = modep-ctl-scripts/src
	url = https://github.com/zen3d/modep-ctl-scripts/
[submodule "libhylia/src"]
	path = libhylia/src
	url = https://github.com/zen3d/Hylia
